extends layout

block content
  h1= title
  p Welcome to #{title}
  a.btn.btn-outline-primary.mr-3(href="/author") Auhor 
  a.btn.btn-outline-success.mr-3(href="/book") Book
  a.btn.btn-outline-secondary.mr-3(href="/genre") Gener
  a.btn.btn-outline-info.mr-3(href="/book-instance") Book Instance
