extends layout

block content
  h1= title
  p Welcome to #{title}
  a.btn.btn-primary.mr-3(href="/author") Auhor 
  a.btn.btn-success.mr-3(href="/book") Book
  a.btn.btn-secondary.mr-3(href="/author") Gener
  a.btn.btn-info.mr-3(href="/author") Book Instance
