doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-4.5.3-dist/css/bootstrap.min.css')
    script(src='/js/jquery-3.7.1.min.js')
    script(src='/stylesheets/bootstrap-4.5.3-dist/js/bootstrap.min.js')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a.btn.btn-outline-success.mb-3(href='?lng=en') #{t('sidebar.english')}
                a.btn.btn-outline-warning(href='?lng=vi') #{t('sidebar.vietnamese')}
        div(class='col-9')
          a.btn.btn-primary.mb-2(href="/") #{t('author-page.btn_back')}
          block content
          include partials/notifications

