extends ../layout
include ../partials/mixins.pug

block content
    .container 
        h1 #{t('title-page.genre')}
        hr
        include ../partials/notifications
        h2 #{t('title-list.genre')}
        ul
            each genre in genres 
                li.disc
                    +detail(`/genre/${genre.id}`, genre.name)


